# Alif Camera controller driver configuration options

# Copyright (C) 2024 Alif Semiconductor
# SPDX-License-Identifier: Apache-2.0

config VIDEO_ENSEMBLE_CAM
	bool "Ensemble Camera Parallel Interface (CPI) controller driver"
	default y
	depends on DT_HAS_ALIF_ENSEMBLE_CAM_ENABLED

if VIDEO_ENSEMBLE_CAM

config VIDEO_ENSEMBLE_CAM_INIT_PRIORITY
	int "CPI Video initialization priority"
	default 61
	help
	  System initialization priority for Ensemble Camera Driver.

endif #VIDEO_ENSEMBLE_CAM
