# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0
config RTSS_HE
	bool "RTSS_HE core"
	help
	  Enable RTSS_HE core.

config RTSS_HP
	bool "RTSS_HP core"
	help
	  Enable RTSS_HP core.

config ALIF_HWSEM_INIT_PRIORITY
	int "HWSEM Init priority"
	depends on ALIF_HWSEM
	default 50
	help
	  Hardware Semaphore driver initialization priority.

config SOC_SUPPORT_ARM_MHUV2
	bool "SoC support communication through Arm MHUv2"
	depends on SOC_FAMILY_ENSEMBLE
	select IPM
	select ARM_MHUV2
	help
	  SoC support communication through Arm MHUv2

config ENSEMBLE_PDM
	bool "Enable PDM in Ensemble family"
	select AUDIO
	select AUDIO_CODEC
	select AUDIO_DMIC
	help
	  Enable PDM in Ensemble family

if COUNTER_SNPS_DW
menu "LPTIMER channel configurations"

# LPTIMER 0 Clock Settings
choice LPTIMER0_CLOCK_SELECT
	prompt "Ensemble LPTimer-0 Clock Select"
	default LPTIMER0_CLOCK_SOURCE_32K
	help
	  "Clock Selection for LPTimer 0"

config LPTIMER0_CLOCK_SOURCE_32K
	bool "32KHZ Clock"
	help
	  This option selects 32KHz(Actual clock freq is 32.768KHz) clock for lptimer 0.

config LPTIMER0_CLOCK_SOURCE_128K
	bool "128KHZ Clock"
	help
	  This option selects 128KHz clock for lptimer 0.

config LPTIMER0_CLOCK_SOURCE_EXT
	bool "External Clock Input"
	help
	  This option selects external clock source through lpgpio pin 0.
endchoice

# LPTIMER 1 Clock Settings
choice LPTIMER1_CLOCK_SELECT
	prompt "Ensemble LPTimer-1 Clock Select"
	default LPTIMER1_CLOCK_SOURCE_32K
	help
	  "Clock Selection for LPTimer 1"

config LPTIMER1_CLOCK_SOURCE_32K
	bool "32KHZ Clock"
	help
	  This option selects 32KHz(Actual clock freq is 32.768KHz) clock for lptimer 1.

config LPTIMER1_CLOCK_SOURCE_128K
	bool "128KHZ CLOCK"
	help
	  This option selects 128KHz clock for lptimer 1.

config LPTIMER1_CLOCK_SOURCE_CASCADE
	bool "Cascade Clock Input from LPTIMER 0"
	help
	  This option selects cascaded clock input for lptimer 1 from lptimer 0.

config LPTIMER1_CLOCK_SOURCE_EXT
	bool "External Clock Input"
	help
	  This option selects external clock source through lpgpio pin 1.
endchoice

# LPTIMER 2 Clock Settings
choice LPTIMER2_CLOCK_SELECT
	prompt "Ensemble LPTimer-2 Clock Select"
	default LPTIMER2_CLOCK_SOURCE_32K
	help
	  "Clock Selection for LPTimer 2"

config LPTIMER2_CLOCK_SOURCE_32K
	bool "32KHZ Clock"
	help
	  This option selects 32KHz clock for lptimer 2.

config LPTIMER2_CLOCK_SOURCE_128K
	bool "128KHZ Clock"
	help
	  This option selects 128KHz clock for lptimer 2.

config LPTIMER2_CLOCK_SOURCE_EXT
	bool "External Clock Input"
	help
	  This option selects external clock source through lpgpio pin 2.
endchoice

# LPTIMER 3 Clock Settings
choice LPTIMER3_CLOCK_SELECT
	prompt "Ensemble LPTimer-3 Clock Select"
	default LPTIMER3_CLOCK_SOURCE_32K
	help
	  "Clock Selection for LPTimer 3"

config LPTIMER3_CLOCK_SOURCE_32K
	bool "32KHZ Clock"
	help
	  This options enables number generator based on system timer

config LPTIMER3_CLOCK_SOURCE_128K
	bool "128KHZ Clock"
	help
	  This option selects 128KHz clock for lptimer 3.

config LPTIMER3_CLOCK_SOURCE_CASCADE
	bool "Cascade Clock Input from LPTIMER 2"
	help
	  This options enables number generator based on system timer

config LPTIMER3_CLOCK_SOURCE_EXT
	bool "External Clock Input"
	help
	  This option selects external clock source through lpgpio pin 3.
endchoice

endmenu # "LP-Timer Clock sources"

config LPTIMER0_OUTPUT_TOGGLE
	bool "LPTimer0 Output Toggle"
	default y
	depends on !LPTIMER0_CLOCK_SOURCE_EXT
	help
	  Enable output toggle for lptimer 0.

config LPTIMER1_OUTPUT_TOGGLE
	bool "LPTimer1 Output Toggle"
	default y
	depends on !LPTIMER1_CLOCK_SOURCE_EXT
	help
	  Enable output toggle for lptimer 1.

config LPTIMER2_OUTPUT_TOGGLE
	bool "LPTimer2 Output Toggle"
	default y
	depends on !LPTIMER2_CLOCK_SOURCE_EXT
	help
	  Enable output toggle for lptimer 2.

config LPTIMER3_OUTPUT_TOGGLE
	bool "LPTimer3 Output Toggle"
	default y
	depends on !LPTIMER3_CLOCK_SOURCE_EXT
	help
	  Enable output toggle for lptimer 3.

endif # COUNTER_SNPS_DW

config  ROM_ITCM
	bool "Link code into internal instruction tightly coupled memory (ITCM)"
	default y
	help
	  Enable this to build applications to run from the ITCM.

if ROM_ITCM
config FLASH_SIZE
	default $(dt_node_reg_size_int,/soc/itcm@0,0,K)

config FLASH_BASE_ADDRESS
	default $(dt_node_reg_addr_hex,/soc/itcm@0)
endif # ROM_ITCM

if !ROM_ITCM && RTSS_HP && !USE_DT_CODE_PARTITION
config FLASH_LOAD_OFFSET
	default 0x200000
endif
