# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0
config RTSS_HE
	bool "RTSS_HE core"
	help
	  Enable RTSS_HE core.

config RTSS_HP
	bool "RTSS_HP core"
	help
	  Enable RTSS_HP core.

config ALIF_HWSEM_INIT_PRIORITY
	int "HWSEM Init priority"
	depends on ALIF_HWSEM
	default 50
	help
	  Hardware Semaphore driver initialization priority.

config SOC_SUPPORT_ARM_MHUV2
	bool "SoC support communication through Arm MHUv2"
	depends on SOC_FAMILY_ENSEMBLE
	select IPM
	select ARM_MHUV2
	help
	  SoC support communication through Arm MHUv2

config SPI_DW_ENABLE
	bool
	default y
	depends on SPI
	help
	  Enable Designware SPI driver.
	select HAS_SPI_DW

config ENSEMBLE_PDM
	bool "Enable PDM in Ensemble family"
	select AUDIO
	select AUDIO_CODEC
	select AUDIO_DMIC
	help
	  Enable PDM in Ensemble family

if COUNTER_SNPS_DW
config LPTIMER0_OUTPUT_TOGGLE
	bool "LPTimer0 Output Toggle"
	help
	  Enable lptimer 0 output toggle.

config LPTIMER0_EXT_CLK_FREQ
	int "LPTimer0 Ext-clock source Frequency value"
	default 0
	help
	  Provide lptimer 0 clock frequency for external clock source.

config LPTIMER1_OUTPUT_TOGGLE
	bool "LPTimer1 Output Toggle"
	help
	  Enable  lptimer 1 output toggle.

config LPTIMER1_EXT_CLK_FREQ
	int "LPTimer1 Ext-clock source Frequency value"
	default 0
	help
	  Provide lptimer 1 clock frequency for external clock source.
endif # COUNTER_SNPS_DW

config  ROM_ITCM
	bool "Link code into internal instruction tightly coupled memory (ITCM)"
	default n if BOOTLOADER_MCUBOOT || MCUBOOT
	default y
	help
	  Enable this to build applications to run from the ITCM.

if ROM_ITCM || !XIP
config FLASH_SIZE
	default $(dt_node_reg_size_int,/soc/itcm@0,0,K)

config FLASH_BASE_ADDRESS
	default $(dt_node_reg_addr_hex,/soc/itcm@0)
endif # ROM_ITCM

if !ROM_ITCM && RTSS_HP && !USE_DT_CODE_PARTITION
config FLASH_LOAD_OFFSET
	default 0x200000
endif

config ROM_START_OFFSET
	default 0x800 if BOOTLOADER_MCUBOOT
