# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config QDEC_ALIF
	bool "ALIF QDEC driver"
	default y
	depends on DT_HAS_ALIF_QDEC_ENABLED
	select USE_ALIF_HAL_UTIMER
	help
	  ALIF Quadrature Decoder driver.
