/* Copyright (c) 2024 Alif Semiconductor
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Enabling utimer & disabling lptimer, rtc for this sample application
 */

&timer0 {
	status = "disabled";
};

&rtc0 {
	status = "disabled";
};

&utimer0 {
	status = "okay";

	counter {
		status = "okay";
	};
};
