# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_ENSEMBLE_E7

config SOC_SERIES
	default "e7"

config SD_BUFFER_SECTION
	string "Alif Non Secure Section Name for card internal buffer"
	default ".alif_ns"

config SDHC_DESCRIPTOR_SECTION
	string "Alif Non Secure Section Name for SDHC Descriptor"
	default ".alif_ns"

source "soc/arm/alif_ensemble/e7/Kconfig.defconfig.e*"

endif # SOC_SERIES_ENSEMBLE_E7
