# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_ENSEMBLE_E7
	bool "Alif Ensemble E7 MCU Series"
	select ARM
	select SOC_FAMILY_ENSEMBLE
	select BUILD_NO_GAP_FILL
	select BUILTIN_STACK_GUARD
	select INIT_ARCH_HW_AT_BOOT
	help
	  Enable support for Alif Ensemble MCU and MPU series
