# Copyright (c) 2024 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_BALLETTO_B1

config SOC_SERIES
	default "b1"

source "soc/arm/alif_balletto/b1/Kconfig.defconfig.b*"

endif # SOC_SERIES_BALLETTO_B1
